<!----------------------------------------------
Footer
------------------------------------------------>
<div id="footerarea">
  <div id="footer2">
    <h3 class="widgettitle">Terms</h3>
  <div class="terms-widget">
  <p id="terms"><a href="http://staging.lucidworks.com/copyrights-and-disclaimers">Copyrights and Disclaimers</a> | <a href="http://staging.lucidworks.com/privacy-policy">Privacy Policy</a> | <a href="terms-of-use">Terms of Use</a> | <a href="https://support.lucidworks.com/home" target="_blank">Support Portal</a><p>
  <p>Apache Solr, Solr, Apache Lucene, Lucene and their logos are trademarks of the Apache Software Foundation.</p>
  <p>© 2013 LucidWorks. All Right reserved.</p>
</div>
    <h3 class="widgettitle">Social Icons</h3>
      <div class="social-widget">
 <ul class="social">
    <a href="https://plus.google.com/112313059186533721298" target="_blank"><li title="Visit LucidWorks on Google+"></li></a>
    <a href="http://twitter.com/LucidWorks" target="_blank"><li class="twitter" title="Visit @LucidWorks on Twitter"></li></a>
    <a href="http://www.youtube.com/user/lucidworkssearch" target="_blank"><li class="youtube" title="Visit LucidWorksSearch on YouTube"></li></a>
    <a href="http://www.facebook.com/pages/Lucid-Imagination/245360168771" target="_blank"><li class="facebook" title="Visit Lucid Imagination on Facebook"></li></a>
    <a href="http://www.linkedin.com/company/lucidworks" target="_blank"><li class="linkedin" title="Visit LucidWorks on LinkedIn"></li></a>
  </ul>
</div>
</div>
</div>