#main-container{
    padding-bottom: $footer_height;
}

#tabs {
  padding: 0;
  margin: 0 0 1em 0;
}

#tabs ul {
  padding: 0;
  margin: 0;
}

.tab {
  display: inline;
  background-color: whitesmoke;
  padding: .25em;
  top: 0;

  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: whitesmoke;
  background-image: linear-gradient(to bottom, white, #E6E6E6);
  background-repeat: repeat-x;
  border-color: #CCCCCC #CCCCCC #B3B3B3;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;

}

.tab:hover {
  background-image: linear-gradient(to top, white, #F3F3F3);
}

.selected-tab {
  position: relative;
  top: 1px;
  background: white;
}


#left-bar {
  width: 14%;
  float: left;
}

#right-bar {
  width: 78%;
  float: right;
}

#sidebar{
  float:right;
  position:relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*.has_constraints {
  margin-top:45px;
}*/

.catalog_startOverLink {
  padding-top: 0.3em;
  float: right;
}

#sort-dropdown {
  padding-left: 1em;
}

.btn {
  background-color: F2F2F2;
  background-image: none;
  border-color: #D1D1D1;
}

#document
{
	margin-top:1em;


  h1
  {
    margin:0;
    padding:0 0 0.4em;
  }
}

#documents
{
	margin-bottom:1em;
	margin-top:0em;

  .documentHeader
  {
     padding: 5px 0 0;
  }
}

.document
{
	border-bottom:1px dotted $dotted_border_color;
	clear:both;
  padding-bottom: 1em;

  dd {
    padding-bottom:0.5em;
  }
}

.document-body {
  margin-left: 10px;
}

#documents .documentFunctions
{
	float:right;
  margin: 10px 0;

  .bookmark_toggle
  {
    display:inline;
    margin-right: -21%;
    padding-right: 0px;
  }
}

.documentFunctions {
  direction: rtl;
  margin-right: 0px;
}

#sidebar form {
  margin: 0;
}

.page_links
{
	display: inline-block;
}

.solrQuery
{
	background-color: $search_ui_bg_color;
	border:1px dotted $dotted_border_color;
	font-size:90%;
	margin:2em;
	padding:.5em;
}

.document dl {
  margin-top: 0;
  margin-bottom: 0;
}

.dl-invert {
  dt {
    font-weight: normal;
    color: #888;
  }
}

label.checked
{
	font-weight:700;
}

label.toggle_bookmark
{
	color:inherit;
	display:inline-block;
	font-weight:inherit;
	min-width:8.5em;
	text-align:left;
}


span.page a,span.page.current
{
	border-bottom:none;
	margin-right:0.2em;
	padding:0.2em 0.5em;
	text-decoration:none;
}


#sidebar .well
{
  padding: 8px 0;
}

#sidebar-mlt li {
  padding-bottom: 0.5em;
}

.show-document
{
  .document {
    border: none;
  }
}

#sortAndPerPage {
  @extend .well;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.dropdown {
  margin-top: 4px;
}

#sortAndPerPage .dropdown-toggle {
  cursor: pointer;
}

.link-expand {
  float: left;
  bottom: 0;
  color: rgb(0,97,179);
}


.no-js #sortAndPerPage {
  & {
    @extend .clearfix;
  }
  .dropdown-menu {
    background: none;
    box-shadow: none;
    border: none;
    position: relative;
    display: block;
    float: none;
  }

}

.index_title {
  float: left;
  font-size: 16px;
  max-width:70%;
}

#email_form {
  @extend .span6;
}

#pagination-container {
  width: 100%;
  margin: 0;
}

.hide {
  display: none;
}
