/*
 The main logo image for the Blacklight instance
*/

#logo {
  width:180px;
}

.navbar .brand {
  width: 150px;
  background:transparent asset_url($logo_image,image) no-repeat top left;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-right:0;
  margin-right:20px;
  padding-left: 0;
}


/*
  Header bar at top (Bootstrap nav-bar)
*/

/* This ensures that any tool pop-up goes infront of the header */
.navbar-fixed-top {
  z-index:1000;
  position:absolute;
}


#header-navbar-fixed-top {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  min-width: 395px;
  /*margin-left: 7%;
  margin-right: 7%;*/

  .navbar-inner {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: none;
  }


  /*
    Search form is in the header...
  */
  .desktop-search-bar {
    opacity: 1 !important;
    padding-top: 0.5em;

  }
}

#navbar-container {
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
}

.search-query-form {
  margin-left: 10%;
}

.input-append{
  width:67%;
}

#search_field {
	width: 95px;
}

#searchbar {
  padding-top:5px;

}

.search-query-form {
  margin-bottom: 0;
}



.btn.search-btn {
  margin-top: 0;
}

#search {
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 0%, #227ec9 49%, #117dd6 50%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#227ec9), color-stop(50%,#117dd6), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#227ec9 49%,#117dd6 50%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7db9e8 0%,#227ec9 49%,#117dd6 50%,#1e5799 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7db9e8 0%,#227ec9 49%,#117dd6 50%,#1e5799 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #7db9e8 0%,#227ec9 49%,#117dd6 50%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
  color: white; 
}

#search:hover {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #117dd6 50%, #227ec9 51%, #50a4e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#117dd6), color-stop(51%,#227ec9), color-stop(100%,#50a4e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#117dd6 50%,#227ec9 51%,#50a4e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#117dd6 50%,#227ec9 51%,#50a4e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#117dd6 50%,#227ec9 51%,#50a4e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#117dd6 50%,#227ec9 51%,#50a4e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#50a4e5',GradientType=0 ); /* IE6-9 */
}

.search_field {
  margin-right: 0.5em;
}

.search_q {
  width: 100%;
}

#link-box {
  float: right;
}

.util-links-login, .util-links-other {
  font-size: 0.9em;
  direction:rtl;
}

.ajax_form
{
  margin-bottom: 0;
}

#librarian_view
{
	left:-17%;
	text-align:left;
	top:10%;
	width:700px;
}

#marc_view
{
	padding:5px;
	text-align:left;

  .field
  {
    border-bottom: $marc_item_separator;
    clear:both;
  }

  .ind1, .ind2
  {
    display:inline;
    padding:0 5px;
  }

  .subfields
  {
    padding-left:5em;
  }

  .tag_ind
  {
    float:left;
  }
}

.constraints-container {
  @extend .well;
  margin: 4px 0 0 300px;
  padding: 10px 8px 6px;
  height: 30px;
  width: 73%;
}

span.constraints-label {
  font-weight:bold;
}

.appliedFilter
{
	background: $constraint_bg_color;
	border:1px solid $constraint_border_color;
	display:inline-block;
	margin-bottom:0.66em;
	margin-right:0.33em;
	padding:3px 3px 3px 1.5em;
  padding-right:50px;
	position:relative;
  @include border-radius(15px 15px 15px 15px);

  .btnRemove
  {
    background:asset_url('blacklight/remove.gif', image) no-repeat center center;
    border-bottom:none;
    border-left:1px solid $constraint_border_color;
    display:block;
    height:100%;
    outline:none;
    position:absolute;
    right:0;
    text-indent:-99999px;
    top:0;
    width:32px;
    z-index:5;
  }

  .btnRemove:active,.btnRemove:focus
  {
    border:1px dotted $constraint_border_active_color;
  }

  .filterName
  {
    background:asset_url('blacklight/separator.gif',image) no-repeat right center;
    padding-right:14px;
  }
}