/* Generic layout stuff */
.hide 
{
  display:none
}
  
/* This provides a fixed distance between the header and the main content */

body {
  padding-top: 5%;
  height:87%;
  position:relative;

}

#main-container {
	width:90%;	
}

.container{
	margin-left: 7%;
	margin-right: 7%;
}

#content {
	width:100%
}