/* Generic layout stuff */
.hide 
{
  display:none
}
  
/* This provides a fixed distance between the header and the main content */

body {
  padding-top: 5%;
  height:87%;
  position:relative;

}

a {
	color: rgb(46,67,119)
}

#main-container {
	width:86%;
	margin-left: 7%;
	margin-right: 7%
}

[class*="span"] {
	margin: 0;
}

.row {
	margin: 0;
}

#content {
	width:100%;
	padding-top:10px;
}