<div id="appliedParams" class="constraints-container">
  <span class="constraints-label"><%= t('flare.search.filters.title') %></span>
  <div class="constraints-options"> 

  </div>
  <%= render_constraints(params) %> 
  <% if query_has_filters? %>
      <div >
        <%= link_to (t('flare.search.view_filters') + content_tag(:span, '', :class => 'caret')).html_safe, '#', 'data-toggle' => 'collapse', 'data-target' => '#applied-filters', :class => 'btn btn-toggle collapsed' %>
      </div>
    <% end %>

</div>