<% # container for all documents in index view -%>
<div id="documents">
  <%= render documents, :as => :document %>
</div>


<div id="sidebar" class="span3">
	<%= render :partial=>'facets' %>
</div><!--/well -->
