<% # main container for facets/limits menu -%>
<div id="facets" class="accordion">
  <div class="accordion-group">
    <h2>LIMIT YOUR SEARCH</h2>
  </div>
  
  <% if has_facet_values? %>
    <%= render_facet_partials %>
  <% end %>
</div>
