<div class="dropdown pull-right  hidden-phone graphics_dropdown">
	<span class="hide-text"></span>
	<ul id="graph_type-dropdown" class="css-dropdown">
	  	<li id="active_graph_type" class="btn">
	  		<a href="#">Relevancy</a>
	  		<span class="caret"></span>
			<ul>
			    <li class="graph_drop_down_option"><a href="#">Relevancy</a> </li>
			    <li class="graph_drop_down_option"><a href="#">Analytics</a> </li>
			    <li class="graph_drop_down_option"><a href="#">More Coming</a> </li>
	     	</ul>
	    </li>
	</ul>
</div>