<% if has_facet_values? %>
  <div class="row">
    <div class="span9">
      <div id="graph" data-fieldname="" data-graphtype="pie"></div>
    </div>
  </div>
<% end %>

<div id="graph-msg" class="alert alert-info">Choose a facet group to view data</div>