<%= form_tag "/search/", :method => :get, :class => 'search-query-form form-inline clearfix' do %>
  <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>

  <div class="input-append pull-left">
    <label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
     <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search_q q", :id => "q"%>

  </div>
<% end %>