/* =Buttons
-------------------------------------------------------------- */

.btn:focus {
  outline: none;
}

.btn .caret {
  margin-left: 2px;
}

.btn-toggle {
  &:not(.collapsed) {
    .caret {
      @include rotate(180deg);  
    }
  }
}

.btn-clear-search-history,
.btn-clear-saved-searches {
  margin: 15px 0 0;  
  float: right;
}