/* =Documents
-------------------------------------------------------------- */

#documents {
  .document {
    padding-top: 4px
  }
  
  .index_title {
    margin: 0;
  }  
  
  .documentFunctions {
    margin: 0;
    
    .bookmark_toggle {
      float: right;
      margin: 0;
    }
  }
  
  .document-body p {
    margin-bottom: 4px;
  }
  
  .btn-toggle {
    padding: 0;
  }
}