#graph {
  margin: 30px 20px;
  min-height: 400px;
}

/* bar graph */
.d3bar {
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* pie graph */
.arc path {
  stroke: #fff;
}

.d3pie {
  position: relative;
  left: 100px;
}
