/* =Links
-------------------------------------------------------------- */

a:link, a:visited, a:active {
  outline: none;
}

:focus {
  outline: none;
}

/* =Tabs
-------------------------------------------------------------- */
.tab-content {
  overflow: visible;
}
